{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center mt-2">
  <div class="col-12 col-md-7 col-lg-8">

    <!-- Card Design für md+ Geräte -->
    <div class="d-none d-md-block">
      <div class="card shadow-sm rounded-3">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">
            {% if form.instance.pk %}Edit Post{% else %}Create New Post{% endif %}
          </h2>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.title|as_crispy_field }}
            {{ form.content|as_crispy_field }}

            <!-- Immage delete section -->
            <div class="mb-3">
              {% if form.instance.image %}
                <div class="text-center mb-2">
                  <img src="{{ form.instance.image.url }}" alt="Current Image"
                       class="img-fluid d-block mx-auto mb-2"
                       style="max-width: auto; height: auto;">
                  <div class="form-check d-inline-block">
                    <input class="form-check-input" type="checkbox" name="image-clear" id="image-clear_id">
                    <label class="form-check-label" for="image-clear_id">Check this box to delete the image or simply upload a new one</label>
                  </div>
                </div>
              {% endif %}
              
              <!-- Upload Image -->
              <input type="file" name="image" class="form-control" id="id_image">
            </div>
            

            <div class="d-grid gap-2 d-md-flex">
              <button type="submit" class="btn btn-dark">Save</button>
              <a href="{% url 'post_list' %}" class="btn btn-secondary ms-2">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- for smaller devices no card background -->
    <div class="d-block d-md-none px-3">
      <h2 class="text-center mb-4">
        {% if form.instance.pk %}Edit Post{% else %}Create New Post{% endif %}
      </h2>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.title|as_crispy_field }}
        {{ form.content|as_crispy_field }}

        <div class="mb-3">
          {% if form.instance.image %}
            <div class="text-center mb-2">
              <img src="{{ form.instance.image.url }}" alt="Current Image"
                   class="img-fluid d-block mx-auto mb-2">
              <div class="form-check d-inline-block">
                <input class="form-check-input" type="checkbox" name="image-clear" id="image-clear_id">
                <label class="form-check-label" for="image-clear_id">Check this box to delete the image or simply upload a new one</label>
              </div>
            </div>
          {% endif %}
          
          <!-- Upload Image -->
          <input type="file" name="image" class="form-control" id="id_image">
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-dark">Save</button>
          <a href="{% url 'post_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>

  </div>
</div>
{% endblock %}
