{% extends 'blog/base.html' %}
{% block content %}
  <h1>All Posts</h1>
  {% for post in posts %}
    <div class="card mb-3">
      <div class="card-body">
        
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
      {% endif %}


        <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
        <p>{{ post.content|truncatechars:200 }}</p>
        <small>By {{ post.author }} on {{ post.created_on }}</small>
      </div>
    </div>
  {% empty %}
    <p>No posts found.</p>
  {% endfor %}
{% endblock %}
