{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center mt-2 px-3">
  <div class="col-md-8">
    <h2 class="mb-4 text-center">{{ post.title }}</h2>

    {% if post.image %}
      <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid rounded mb-4 d-block mx-auto">
    {% endif %}
    <p>
      by <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>, 
      created on: {{ post.created_on|date:"d.m.Y" }}
    </p>
    
    <div class="justify-text">{{ post.content|linebreaks }}</div>

    {% if request.user == post.author %}
      <a href="{% url 'post_update' post.slug %}" class="btn btn-warning btn-sm">Edit</a>
      <a href="{% url 'post_delete' post.slug %}" class="btn btn-danger btn-sm">Delete</a>
    {% endif %}
    <a href="{% url 'post_list' %}" class="btn btn-secondary btn-sm">Back</a>
  </div>
</div>
<hr>
<h4>Comments</h4>

{% for comment in comments %}
  <div class="mb-2">
    <strong>{{ comment.author.username }}</strong> on {{ comment.created_on|date:"d.m.Y H:i" }}<br>
    {{ comment.content|linebreaks }}
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}

{% if user.is_authenticated %}
  <form method="post" class="mt-4">
    {% csrf_token %}
    {{ comment_form.content }}
    <button type="submit" class="btn btn-primary btn-sm mt-2">Add Comment</button>
  </form>
{% else %}
  <p class="mt-4">You must be <a href="{% url 'account_login' %}">logged in</a> to comment. <br> Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a>.</p>
{% endif %}

{% endblock %}
