{% extends 'blog/base.html' %}
{% block content %}
  <div class="row mt-2 px-3">
    <h2 class="mb-4 text-center">EXPLORE ALL POSTS OF OUR COMMUNITY!<hr></h2>

    {% for post in posts %}
      <div class="container col-md-3 mb-4 px-3">
        <div class="card h-100 shadow-sm">
          {% if post.image %}
          <a href="{% url 'post_detail' post.slug %}">
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
          </a>
        {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">
              <a href="{% url 'post_detail' post.slug %}" class="text-decoration-none">{{ post.title }}</a>
            </h5>
            <p class="card-text text-muted text-center justify-content-center">{{ post.content|truncatechars:150 }}</p>
            <p class="text-center">by <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No posts found.</p>
    {% endfor %}
  </div>
{% endblock %}
