{% extends 'blog/base.html' %}
{% block content %}
<div class="container mt-5">
  <h2>{{ user.username }}'s Profile</h2>
  <p>Email: {{ user.email }}</p>

  <hr>
  <h4>My Posts</h4>
  {% for post in posts %}
    <div class="card mb-3">
      <div class="card-body">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
      {% endif %}
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content|truncatewords:25 }}</p>
        <a href="{% url 'post_detail' post.slug %}" class="btn btn-sm btn-primary">See Post</a>
      </div>
    </div>
  {% empty %}
    <p>You have no Posts created.</p>
  {% endfor %}
</div>
{% endblock %}
